<div>
  <label>Amount in euro</label>
  <input type="number" [(ngModel)]="amount" (input)="onChange()" step="0.01">
</div>
<div>
    <label>Quick sell</label>
  <input type="checkbox" [(ngModel)]="quick" (change)="onChange()">
  <label>Maker</label>
  <input type="number" [(ngModel)]="maker" (input)="onChange()" step="0.01">%
  <label>Taker</label>
  <input type="number" [(ngModel)]="taker" (input)="onChange()" step="0.01">%
</div>
<div>
  <label>Low</label>
  <input type="number" [(ngModel)]="low" (input)="onChange()" step="0.01">
  <label>High</label>
<input type="number" [(ngModel)]="high" (input)="onChange()" step="0.01">
</div>

<label>Profit: </label><label>{{profit}}</label>

