<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches">
      <mat-nav-list>
        <mat-list-item routerLink="" routerLinkActive="active">
          <mat-icon mat-list-icon>home</mat-icon>
          <h4>Home</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item routerLink="/calculator" routerLinkActive="active">
          <mat-icon mat-list-icon>dialpad</mat-icon>
          <h4>Calculator</h4>
        </mat-list-item>
        <mat-list-item routerLink="/converter" routerLinkActive="active">
          <mat-icon mat-list-icon>compare_arrows</mat-icon>
          <h4>Converter</h4>
        </mat-list-item>
        <mat-divider></mat-divider>
        <div class="donate">
          <app-donate></app-donate>
        </div>
      </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <mat-toolbar color="primary" class="example-toolbar">
        <button mat-icon-button (click)="snav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 class="example-app-name">CryptoCalculator</h1>
      </mat-toolbar>
      <div [style.marginTop.px]="mobileQuery.matches ? 56 : 0" class="content">
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
